.env

checkpoints/matches_checkpoint.csv
checkpoints/players_checkpoint.csv
checkpoints/processed_checkpoint.csv
checkpoints/queue_checkpoint.csv

data/development_datasets/mejai_purchases.csv
data/development_datasets/processed_matches.csv

data/parquet/
data/processed/
__pycache__/
*.py[cod]
*$py.class
project_direction.txt
test.py